body {
    padding:20px;
}

.block {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: #3A78A1;
}

.block-relative {
    position:relative;
    top:10px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: #3A78A1;
    left: -10px;
    height: 100px;
}

.block-shadow {
    background: #ccc;
}
