body {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 18px;
}

.container {
    width: 400px;
    margin: 20px auto;
}

.catalog {
    width: 400px;
    background: #ecf0f1;
    box-shadow: 0 0 3px #999;
}

.item {
    width: 116px;
    min-height: 75px;
    margin-bottom: 20px;
    text-align: center;
    background: #3498db;
    color: white;
    border: 2px solid #2c3e50;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.item:nth-child(3n) {
    margin-right: 0;
}
