body {
    padding: 20px;
}

.block {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    background: #3A78A1;
}

.block-absolute {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: rgba(255, 0, 0, 0.5);
    position: absolute;
}
