.frame {
    display: inline-block;
    margin: 10px;
    border-radius: 6px;
    background-color: #27AE60;
}

.frame img {
    display: block;
    border-radius: 5px;
    position: relative;
    top: -5px;
    left: -5px;
}
