body {
    min-width: 500px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.layout-positioner {
    width: 430px;
    margin: 0 auto;
}

.layout-positioner:after {
    content: '';
    clear: both;
    display: table;
}

.header {
    background: #34495e;
    margin-bottom: 10px;
    color: white;
}

.header .layout-column {
    min-height: 50px;
}

.header .layout-column-1 {
    float: left;
    width: 280px;
}

.header .layout-column-2 {
    float: right;
    width: 130px;
}

.features {
    margin-bottom: 10px;
}

.features .layout-column {
    float: left;
    margin-right: 20px;
    width: 130px;
    min-height: 100px;
    background: rgba(236, 240, 241, 0.9);
}

.features .layout-column:last-child {
    margin-right: 0;
}

.footer {
    min-height: 50px;
    background: #34495e;
    color: white;
}


/* Стили содержания */

.hidden {
    display: block;
}

.logo {
    padding: 10px;
}

.logo p {
    margin: 0;
}

.menu {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.menu li {
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    background: #2c3e50;
    border-radius: 5px;
}

.feature {
    padding: 10px;
    text-align: center;
}

.footer-logo {
    padding: 10px;
}
