body {
    padding-top: 40px;
}

.block{
    height: 70px;
    margin: 30px 50px;
    background-color: #3498db;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999;
    background-repeat: repeat-x;
}

.block1 {
    background-position: -30px 30px;
    background-image: url(../images/stitch.png);
    /* background-image: url(/assets/course13/stitch.png); */
}

.block2 {
    background-position: 0 0;
    background-image: url(../images/zigzag.png);
    /* background-image: url(/assets/course13/zigzag.png);     */
}

.block3 {
    background-position: 0 100%;
    background-image: url(../images/shadow.png);    
    /* background-image: url(/assets/course13/shadow.png); */
}


