body {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu a {
    display: block;
    padding: 8px 14px;
    color: #0088CC;
    border: solid 1px #e5e5e5;
    margin-bottom: -1px;
    text-decoration: none;
}
