html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 450px;
    height: 300px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.gallery {
    padding-top: 10px;
    font-size: 0;
    padding-left: 8px;
}

.gallery .item {
    width: 125px;
    margin: 0 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.gallery .title {
    margin-bottom: 5px;
    line-height: 14px;
    font-size: 12px;
}

.gallery .frame {
    background: #ECF0F1;
    border: 1px solid black;
    height: 95px;
    padding-top: 10px;
}

.gallery .image {
    height: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.gallery .image-1 {
    background-color: #2ECC71;
    background-image: url('../images/cat_box.png'); /*/assets/course13/cat_box.png*/
}

.gallery .image-2 {
    background-color: #3498DB;
    background-image: url('../images/cat_fish.png'); /*/assets/course13/cat_fish.png*/
}

.gallery .image-3 {
    background-color: #f1c40f;
    background-image: url('../images/cat_purr.png'); /*/assets/course13/cat_purr.png*/
}

.gallery .image-4 {
    background-color: #E67E22;
    background-image: url('../images/cat_walk.png'); /*/assets/course13/cat_walk.png*/
}

.gallery .image-5 {
    background-color: #E74C3C;
    background-image: url('../images/cat_drunk.png'); /*/assets/course13/cat_drunk.png*/
}

.gallery .date {
    color: #666;
    font-style: italic;
    font-size: 11px;
    padding-left: 5px;
}

.gallery .item:nth-child(4n) {
    margin-left: 82px;
}
